## Constants & Variables

In [1]:
superhero = "Captain America"
print(superhero)

Captain America

In [2]:
superhero = "Batman"
print(superhero)

Batman

In [3]:
hero1, hero2, hero3 = "Spider Man", "The Joker", "Wonder Woman"
print(hero1)
print(hero2)
print(hero3)

Spider Man
The Joker
Wonder Woman

In [6]:
x = y = z = 34
print(x)
print(y)
print(z)

34
34
34

## Input Function

In [24]:
number1 = int(input("Enter the first no: "))
number2 = int(input("Enter the second no: "))
sum = number1+number2
print(number1)
print(number2)
print("The sum is: " + str(sum))

Enter the first no:  6
Enter the second no:  5

6
5
The sum is: 11

## Changing the datatype

In [27]:
num = 4
float(num)
print(float(num))

4.0

## Data Types in python

In [29]:
a = 4
print(a)
type(a)

4

int

In [30]:
b = 8.4
print(b)
type(b)

8.4

float

In [32]:
#complex numbers
c = 3 + 4j
print(c)
type(c)

(3+4j)

complex

In [34]:
#Conversion of data type to another
x = 10
print(x)
type(x)

10

int

In [35]:
y = float(x)
type(y)

float

 ## Boolean

In [39]:
a = True
print(a)
type(a)

True

bool

In [42]:
h = 5<3
print(h)
type(h)

False

bool

In [43]:
print("hello "*4)

hello hello hello hello

In [44]:
# Slicing a string
myst = "Programming"
print(myst[1:4])

rog

## Special Data Types in Python

### List

In [45]:
# list should be included in square brackets []
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [47]:
#List can have multiple data types
mylist = [2,3,4.9, "Evans", True]
print(mylist)
type(mylist)

[2, 3, 4.9, 'Evans', True]

list

In [50]:
#List are mutable (are changable)

#adding elements to a list
mylist = [2,3,4.9, "Evans", True]
mylist.append(34)
print(mylist)
print(mylist[4])
print(len(mylist))

[2, 3, 4.9, 'Evans', True, 34]
True
6

In [51]:
#initiate an empty list
newlist = []
print(newlist)

[]

In [53]:
newlist.append(4)
newlist.append("new word")
print(newlist)

[4, 'new word']

In [54]:
#delete an item
mylist = [2,3,4.9, "Evans", True]
del mylist[2]
print(mylist)

[2, 3, 'Evans', True]

In [55]:
#join 2 lists
list1 = [2,3,4.9, "Evans", True]
list2 = [2,3,4.9, "Evans", True]

list3 = list1 + list2
print(list3)

[2, 3, 4.9, 'Evans', True, 2, 3, 4.9, 'Evans', True]

## Tuple

In [57]:
# Are immutable, cant be changed once created
mytuple = (2,3,4.9, "Evans", True)
print(mytuple)
type(mytuple)

(2, 3, 4.9, 'Evans', True)

tuple

### Convert list to tuple

In [59]:
mylist = [2,3,4.9, "Evans", True]
print(mylist)
type(mylist)

mytuple = tuple(mylist)
print(mytuple)

[2, 3, 4.9, 'Evans', True]
(2, 3, 4.9, 'Evans', True)

## Sets

In [65]:
# also immutable, enclosed in curly brackets {}
#does not allow duplicate/repeated values
myset = {2,3,4.9, "Evans", True}
print(myset)
type(myset)

{True, 2, 3, 4.9, 'Evans'}

set

In [66]:
# convert list to set
mylist = [2,3,4.9, "Evans", True]

xhe = set(mylist)
print(xhe)
type(xhe)

{True, 2, 3, 4.9, 'Evans'}

set

## Dictionary

In [67]:
# they have a key value pair
#does not allow duplicate/repeated values
mydictionary = {'name':'Evans', 'age':25, 'country':'Kenya'}
print(mydictionary)
type(mydictionary)

{'name': 'Evans', 'age': 25, 'country': 'Kenya'}

dict

In [68]:
print(mydictionary['name'])
print(mydictionary['age'])
print(mydictionary['country'])

Evans
25
Kenya

# Operators

# 1. Arithmetic Operators

In [74]:
num1 = 4
num2 = 6

#addition
sum = num1 + num2
print(sum)

#subtract
diff = num1 - num2
print(diff)

#procuct
pd = num1*num2
print(pd)

#division
div = num2/num1
print(div)

#exponent
exp = num1 ** num2
#means num1 to the power of num2 --- 2^6
print(exp)

#modulus
mod = num2 % num1
#prints remainder after division
print(mod)

10
-2
24
1.5
4096
2

# 2. Assignment Operators

In [75]:
a = 4
print(a)

4

In [77]:
a = 5
a +=5  # a = a + 5
print(a)

10

## Comparison operator

In [79]:
a = 5
a = 7

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

## Logical Operators

In [82]:
# and, or not
a=10

print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>20 and a>5))

False
True
True

## Identity Operator

In [83]:
x = 5
y = 5

print(x is y)

True

## Membership Operators

In [85]:
# in and not in

a=5
b=10

c=[1,2,3,4,5]
print(a in c)
print(b in c)

print(a not in c)
print(b not in c)

True
False
False
True

# if else Statements

In [90]:
# sample
a = 30
b = 50

if (a>b):
    print("a is the greater number")
else:
    print("b is the greater one")

b is the greater one

In [87]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
if (a>b):
    print("a is the greater number")
else:
    print("b is the greater one")

Enter the first number:  45
Enter the second number:  32

a is the greater number

In [91]:
# if elif statement
a=15
b=25
c=30

if (b<a>c):
    print("a is the greatest number")
elif (a<b>c):
    print("b is the greatest number")
else:
    print("c is the greatest number")

c is the greatest number

### nested if condition

In [92]:
a=20
b=40
c=60

if (a>b):
    if (a>c):
        print("a is the greatest number")
    else:
        print("c is the greatest number")
else:
    if (b>c):
        print("b is the greatest number")
    else:
        print("c is the greatest number")

c is the greatest number

# LOOPS

In [93]:
laptop1 = int(input("Enter price of the laptop:"))

Enter price of the laptop: 4000

In [94]:
#For loop
for i in range(5): 
    laptop_price = int(input("Enter price of the laptop:"))

Enter price of the laptop: 4555
Enter price of the laptop: 233
Enter price of the laptop: 4
Enter price of the laptop: 55
Enter price of the laptop: 6

In [98]:
numbers = [50, 100, 150, 200]
for i in numbers:
    print(i)

50
100
150
200

### while loop

In [ ]:
i = 0
while i<10:
    print(i)
    i +=1

# Functions

In [3]:
# a block of code that can be reused in a program

# Factorial of a number - the product of all the positive integers less than or equall to the number

number = int(input("Enter a random number to find its factorial:"))
factorial = 1

if number == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, number+1):
        factorial = factorial*i

    print("The factorial of",number," is", factorial)

Enter a random number to find its factorial: 5

The factorial of 5  is 120

## Factorial function

In [4]:
def factorial_value(num):
    factorial = 1

    if num == 0:
        return factorial
    else:
        for i in range(1, num+1):
            factorial = factorial*i
        return factorial

In [5]:
print(factorial_value(5))

120